{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block body %}
<div>

    <div class="header bg-dark p-3 d-flex justify-content-between">
        <div class="home   ">
            <a href="" class="text-white text-decoration-none">Home</a>
        </div>
        <div class="docent ">
            <a href="{{ path('app_docent') }}" class="text-white text-decoration-none ">Nieuwe Docent </a>
        </div>
        <div class="inloggen  ">
            <a href="{{ path('app_logout')  }}" class="text-white text-decoration-none ">Uitloggen</a>
        </div>

    </div>
</div>
<div class="d-flex justify-content-center flex-column  ">
    <div>
       <h1 class="text-center"> Welkom {{ app.user.fname }} !</h1>

        <p class="text-center">Dit is de admin pagina .</p>
    </div>

    <div class="text-center mt-5">
        <h1>Mijn Verhalen</h1>
    </div>

    <div class="w-100 p-5">
        <table class="table">
            <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Who</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for s in story %}
                <td>{{s.title }}</td>
                <td>{{ s.description }}</td>
                <td> {{s.date|date('d/m/y')}}   </td>
                <td> {{ s.user.fname }}   </td>
                <td>  <button class="btn btn-danger">

                        <a class="text-white" href="{{ path('del',{id:s.id}) }}">Delete</a>
                    </button> </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>



        <div class="text-center mt-5">
            <h1>Nieuwe Docenten</h1>
        </div>

        <div class="w-100 p-5">
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Who</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for u in user %}
                    <td>{{u.fname }}</td>
{#                    <td>{{ s.description }}</td>#}
{#                    <td> {{s.date|date('d/m/y')}}   </td>#}
{#                    <td> {{ s.user.fname }}   </td>#}
                    <td>  <button class="btn btn-danger">

                            <a class="text-white" href="{{ path('del',{id:s.id}) }}">Delete</a>
                        </button> </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>

</div>






{% endblock %}