{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="header bg-dark p-3 d-flex justify-content-between">
        <div class="home   ">
            <a href="{{ path('app_adventure') }}" class="text-white text-decoration-none">Home</a>
        </div>

        <div>
{#            <div class="inloggen  ">#}
{#                <a href="{{ path('app_login') }}" class="text-white text-decoration-none ">Inloggen</a>#}
{#            </div>#}
{#            <div class="register  ">#}
{#                <a href="{{ path('app_register') }}" class="text-white text-decoration-none ">Register</a>#}
{#            </div>#}

        </div>

    </div>
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.fname) }}
    {{ form_row(registrationForm.iban) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-primary    ">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}